// Navigation code here

.header {
    border-bottom: 1px solid @nav-border;
    padding: 20px 0;
    background-color: @nav-bg;

    .header-content {
        width: 800px;
        margin: 0 auto;
        text-align: center;

        @media @phone {
            .mobile-view;
            h1 {
                font-size: 3.6rem;
            }
        }

            nav {
                display: flex;
                justify-content: center;
                
                a {
                    margin: 20px 20px 0 20px;
                    text-decoration: none;
                    color: @nav-font;
                    font-size: 1.7rem;

                    @media @phone {
                        font-size: 1.4rem;
                    }
                }
            }    
        }
}